/*estilo tituto de la web*/
.titulo-de-la-web {
max-width: 170px;
display: block;
margin: auto;
}
/* Estilos adicionales para el fondo del header y colores */


.navbar {
    /* Añade estilos personalizados a tu barra de navegación */
    margin-bottom: 10px;
    margin-top: 10px;
        }

/*estilo al primer bloque de codigo sobre clases*/
.bloque-clases {
    display: flex;
    align-items: center;
}

.left {
    flex: 1;
    padding: 10px;

}

.right {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*estilo al primer bloque de codigo sobre traducciones*/

.container {
    display: flex;
    width: 100%;
    align-items: center;

}

.fotosbloques{
    order: 2; /* Cambio de orden */
    flex: 1;
    padding: 10px;
}
.right {
    order: 1; /* Cambio de orden */
    flex: 1;
    padding: 10px;
}
/* estilo imagenes que estan en los bloques de codigos del index*/
img {
    max-width: 100%;
    height: auto;
    }
 /*titulos f3 dentro los bloques*/
 .titulos-inside-bloques{
    text-align: center;
    font-size: 100px;
 }   
/*estilo al primer bloque de codigo sobre interpretacion*/
.bloque-interprete {
    display: flex;
    width: 100%;
}

.left {
    flex: 1;
    padding: 10px;
   
}

.right {
    flex: 1;
    padding: 10px;
 
}

/*estilo imagen principal del index*/
.imagenportada {
    position: relative;
}

.imagenportada img {
    width: 100%; /* La imagen ocupa todo el espacio de su contenedor */
    height: auto; /* Mantiene la relación de aspecto de la imagen */
    display: block; /* Elimina el espacio en blanco debajo de la imagen */
}

/* Estilo para el rectángulo blanco y el texto */
.rectangulo-blanco {
    background-color: white;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Estilo para la imagen dentro del rectángulo */
.imagen-rectangulo img {
    width: 300px; 
    height: auto; 
    margin-left: 10px;
   
}

/* Estilo para el contenedor de la imagen gracias y los comentarios */
.imagengracias {
    position: relative;
    width: 100%; /* La imagen ocupa el 100% del ancho del contenedor */
    height: 450px;
}
/*subtitulos*/
.subtitulos {
    padding-top: 20px;
    text-align: center;
    color: rgb(241, 159, 77);
    line-height: 100px; /* Ajusta el valor según tu preferencia para centrar verticalmente */
}
.linea {
   border-width: 10px;
   margin: 0 10px; /* Márgenes izquierdo y derecho */
  }

.titulos-inside-bloques {
color: rgb(241, 159, 77);
} 

.items-inside-bloques{
    font-size: 13px;
}

h2 { font-size: 20px;}
h3 { font-size: 15px;}

/*estilo imagen y rectangulo de imagen gracias */
.imagengracias img {
    width: 100%; /* La imagen ocupa el 100% del ancho del contenedor */
    height: 450px;
    padding-bottom: 45px;
    
}

.rectangulo-texto-gracias {
    position: absolute;
    background-color: rgb(217, 217, 217);
    width: 60%; /* El ancho del rectángulo */
    height: 100px; /* Altura del rectángulo */
    text-align: center; /* Centrar el texto horizontalmente */
    color: rgb(68, 132, 206); /* Color del texto */
    top: 50%; /* Centrar verticalmente */
    left: 50%; /* Centrar horizontalmente */
    transform: translate(-50%, -50%); /* Alinear al centro */
}
/* Estilo para la palabra "Comentarios" */
.comentarios {
    font-size: 25px;
    color: rgb(68, 132, 206);
    position: absolute;
    top: 10px; /* Ajusta la distancia superior según tus preferencias */
    left: 50%; /* Centra horizontalmente dentro del contenedor */
    transform: translateX(-50%); /* Ajusta el centro de la palabra */
    background: rgba(217, 217, 217); /* Fondo blanco semi-transparente */
    padding: 5px;

}
